body {
    background-image: url("bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans';
}

.main {
    display: flex;
    height: 100vh;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 1000px) {
    .main {
        /* border: 1px solid red; */
        /* display: flex; */
        flex-direction: column;
    }
}

.logo {
    /* display: flex; */
    width: 350px;
    height: 100px;
    /* border: 2px solid red; */
    /* align-items: center; */
}

.logo img {
    /* margin-top: 20px; */
    width: 100%;
    margin-bottom: 50px;
}

.login {
    /* display: flex; */
    height: 600px;
    width: 400px;
    justify-content: center;
    border-radius: 25px;
    align-items: center;
    /* font-size: 20px; */
    
    /* text-align: center; */
    /* margin-top: 25px; */
}


.logPage {
    /* display: flex; */
    background: #FFFFFF;
    border-radius: 25px;
    border-radius: 20px;
    border-radius: 25px;
    padding: 2px;
    height: 455px;
    width: 400px;

    /* font-size: 16px; */
    font-weight: 600;
    padding: 30px;

}


.card-title {
    /* margin-top: 30px; */
    /* margin-left: 30px; */
    /* font-weight: bolder; */
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}


.title {
    /* margin-left: 30px; */
    /* margin-right: 10px; */
    font-size: 14px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.5;
    font-weight: 600;
    

    /* margin-left: 5px; */
}







.noacc {
    text-align: left;
    font:Open Sans;
    font-size: 14px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    /* margin-left: 10px; */
    font-weight: 600;

}


.rememberme {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    font: Open Sans;
    font-size: 14px;
    margin-bottom: 15px;
    /* margin-left: ; */
    font-weight: 600;
}

.register {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.registernow {
    display: block;
    background: #FEC006 0% 0%;
    border: none;
    outline: none;
    border-radius: 6px;
    text-align: left;
    font: Open Sans;
    font-size: 14px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    padding: 10px;
    margin-top: 10px;
    font-weight: 600;

}


.submitButton {
    color: white;
    /* font-weight: bolder; */
    text-transform: uppercase;
    outline: none;
    border: none;
    width: 398px;
    height: 53px;
    background: linear-gradient(270deg, #386CB5 0%, #669FED 100%);
    /* background : #669FED; */
    box-shadow: 0px 0px 5px #386CB566;
    border-radius: 6px;
    /* margin-left: 30px; */
    opacity: 1;
    font:Open Sans;
    font-weight: 600;
    font-size: 14px


}


.fp {
    text-decoration: none;
    color: #0974DD;
    font-weight: 600;
    font:Open Sans;
    font-size: 14px;    

}

.credpara2 {
    display: block;
    font:Open Sans;
    letter-spacing: 0px;
    color: #000;
    /* margin-top: 12px; */
    text-align: display ;
    font-weight: 600;
    font-size: 14px;
    margin-top: 0px;

}
.credpara1 {
    display: block;
    font:Open Sans;
    letter-spacing: 0px;
    color: #000000BF;
    /* margin-top: 12px; */
    justify-content: center;
    /* font-weight: 600; */
    font-size: 14px;

}
.credpara{
    margin-left: 40px;
    text-align: center;

}



.email {
    display: flex;
    width: 390px;
    height: 53px;
    background: #F7FAFF 0% 0% no-repeat padding-box;
    border: 1px solid #DDDDDD;
    padding-left: 6px;
    border-radius: 6px;
    /* margin-left: 30px; */
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    opacity: 1;
    margin-bottom: 10px;
    
}

.email span {
    display: block;
    height: 100%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.email span img {
    /* border: 1px solid red; */
    width: 16px;
    height: 12px;
}

.email input {
    width: 310px;
    background: #F7FAFF;
    border: none;
    outline: none;
    font-size: 16px;
    color: #222222;
}

.email input::placeholder {
    font-weight: 600;
    letter-spacing: 0px;
    color: #000000BF;
}

.email input:focus {
    border-bottom: 2px solid #386CB5;
}

#checkbox {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

#checkbox:checked {
    border: none;
    background-image: url("./checkmark.svg");
    object-fit: cover;
    color: white;
}
#password img {
    width: 12px;
    height: 16px;

}
.remember {
   color : #000000BF;
   font-size: 14px;
}