body {

    background-image: url("bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans';
}

.main {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    width: 250px;
    height: 87.5px;
    /* border: 2px solid red; */
}

.logo img {
    margin-top: 20px;
    width: 100%;
}

.login {
    display: flex;
    /* height: 100vh; */
    width: 50vh;
    align-items: center;
}

.logPage {
    /* display: flex; */
    background: #FFFFFF;
    box-shadow: 0px 1px 6px #00000029;
    border-radius: 20px;
    padding: 20px;
    height : 70vh;
    width : 55vw;

}

.Logtext {
    text-align: center;
} */

.card-title {
    margin: 5px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}

.title {
    font-size: 17px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.5;
}

.rememberme {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: normal;
    margin-bottom: 15px;
}
.submitButton {
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    outline: none;
    border: none;
    width: 370px;
    height: 35px;
    background: linear-gradient(270deg, #386CB5 0%, #669FED 100%);
    box-shadow: 0px 0px 5px #386CB566;
    border-radius: 6px;
    opacity: 1;

}


.email {
    background: transparent url('img/email.png') 0% 0% no-repeat padding-box;
    background: #F7FAFF 0% 0% no-repeat padding-box;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    margin: 2px;
    opacity: 1;
    width : 95%;
    height :8%;
    margin-bottom: 4%;
}




.noacc {
    text-align: left;
    font: Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.register {
    display: flex;
    justify-content: space-between;
}
.registernow {
    display: block;
    background: transparent linear-gradient(270deg, #386CB5 0%, #669FED 100%) 0% 0% no-repeat padding-box;
opacity: 1;
    /* box-shadow: 0px 1px 10px #0000001A; */
    border-color: none;
    outline: none;
    border-radius: 6px;
    text-align: left;
    /* float: left; */
    font:Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    padding: 4px;


}

.fp {
    text-decoration: none;
}
/* 
.steps {
    display: flex;
    justify-content: space-around;
    background: #cd2424 0% 0%;
    box-shadow: 0px 1px 6px #882c2c29;
    border: 0px 0px 1px 0px;
    border-radius: 20px;
    opacity: 1;
} */

/* .names {
    /* display: flex; */
    /* align-items: center; */
    /*background: transparent url('img/email.png') 0% 0% no-repeat padding-box;
    background: #F7FAFF 0% 0% no-repeat padding-box;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    margin: 2px;
    opacity: 1;
    width : 95%;
    height :11%;
    margin-bottom: 4%;
} */
#regpara {
    font-size: smaller;
}

#regpass {
    font-size: medium;
}



