body {
    background-image: url("bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans';
}

.main {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


.logo {
    width: 350px;
    height: 100px;
    /* border: 2px solid red; */
}

.logo img {
    /* margin-top: 20px; */
    width: 100%;
    /* margin-top :100px; */
}

.login {
    /* display: flex; */
    height: 600px;
    width: 450px;
    justify-content: center;
    border-radius: 25px;
    align-items: center;
    /* font-size: 20px; */
    font-weight: 600;
    /* overflow-y: scroll; */
    /* text-align: center; */
    /* margin-top: 25px; */
     /* border: 2px solid red; */
     padding: 30px;
     /* padding-right: 27px; */
}


.logPage {
    /* display: flex; */
    background: #FFFFFF;
    border-radius: 25px;
    height: 455px;
    /* border: 1px solid red; */
    width: 400px;
    /* overflow: hidden; */
    overflow-y: scroll;


    /* font-size: 16px; */
    font-weight: 600;
    padding: 30px;
    padding-top: 10px;

    

}

.login ::-webkit-scrollbar {
    display: none;
}


.card-title {
    /* margin-top: 30px; */
    /* margin-left: 30px; */
    /* font-weight: bolder; */
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}


.title {
    /* margin-left: 30px; */
    /* margin-right: 10px; */
    font-size: 14px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.5;
    font-weight: 600;
    

    /* margin-left: 5px; */
}


.emailbox {
    display: flex;
    width: 390px;
    height: 40px;
    background: #F7FAFF 0% 0% no-repeat padding-box;
    border: 1px solid #DDDDDD;
    padding-left: 6px;
    border-radius: 6px;
    /* margin-left: 30px; */
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    opacity: 1;
    margin-bottom: 10px;
    
}

/* 
.emailbox input {
    width: 350px;
    background: #F7FAFF;
    border: none;
    outline: none;
    font-size: 16px;
    color: #222222;
    
} */

/* .email input::placeholder {
    font-weight: 600;
    letter-spacing: 0px;
    color: #000000BF; */
    
/* } */
/* 
.emailbox input:focus {
    border-bottom: 2px solid #386CB5;
} */
.names1 {
    display: flex;
    
}
/* .name1 input {
    display: inline;
    width: 185px;
    background: #F7FAFF;
    border: 1px solid #DDDDDD;
    font-size: 16px;
    color: #222222;
    margin-left:0px;
    border-radius: 6px;
    padding-left: 12px;
    /* border: 1px solid red; */

/* }  */
/* .name1 input::placeholder{
    font-weight: 600;
    letter-spacing: 0px;
    color: #000000BF;
} */
#regpass {
    font-size: 14px;
}
#pwd{
    font-weight: 600;
    letter-spacing: 0px;
    color: #000000BF;
}

.nextstep {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: 30px;
    width: 395px;
    margin-right: 0px;
    /* border: 1px solid red; */

}
.fp{
    text-decoration: none;
}
.nextstep2 {
    display: flex;
    background: transparent linear-gradient(270deg, rgba(56, 108, 181, 1) 0%, rgba(102, 159, 237, 1) 100%);
    border: none;
    outline: none;
    border-radius: 6px;
    align-items: center;
    font: Open Sans;
    font-size: 14px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    padding: 10px;
    font-weight: 600;
    justify-content: space-around;
    flex-direction: row;
    height: 42px;
    width: 150px;
}
.nextstep2 img {
    width: 18px;
    height: 10px;
}

.register {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 395px;
}

.registernow {
    display: block;
    background: #FEC006 0% 0%;
    height: 42px;
    width: 150px;
    border: none;
    outline: none;
    border-radius: 6px;
    text-align: center;
    font: Open Sans;
    font-size: 14px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    padding: 10px;
    margin-top: 10px;
    font-weight: 600;

}

.steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-direction: row;
}
.step1{
    border-bottom: 2px solid rgba(56, 108, 181, 1);
    width: 48%;
    border-radius: 2px;
    border-width: 4px;

    /* box-sizing: border-box; */
    /* flex-direction: column; */
    margin-right: 40px;

    
}
.step1 p{
    text-align: center;
}
.step2 {
    border-width: 4px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.16);
    width: 48%;
    border-radius: 2px;
    margin-right: 2px;
    border-width: 4px;
    border-radius: 2px;
    /* flex-direction: column; */
    
    
}
.step2 p{
    text-align: center;
}


.credpara2 {
    display: block;
    font:Open Sans;
    letter-spacing: 0px;
    color: #000;
    /* margin-top: 12px; */
    text-align: display ;
    font-weight: 600;
    font-size: 14px;
    margin-top: 0px;

}
.credpara1 {
    display: block;
    font:Open Sans;
    letter-spacing: 0px;
    color: #000000BF;
    /* margin-top: 12px; */
    justify-content: center;
    /* font-weight: 600; */
    font-size: 14px;


}
.credpara{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    text-align: center;
    

}

.border1{
    border: 1px solid #DDDDDD;
    margin: 27px 0px;
    display: block;

}



.inputbox {
    /* width: 420px;
   height: 60px; */
   width: fit-content;
   height: fit-content;
   background: #f7faff 0% 0% no-repeat padding-box;
   /* border: 1px solid #dddddd; */
   border-radius: 6px;
   opacity: 1;
   position: relative;
}


.inputbox input {
   width: 350px;
   background: #f7faff;
   outline: none;
   /* border: 1px solid red; */
   height: 40px;
   /* width: 300px; */
   padding: 4px;
   border: none;
}
.inputbox label {
   position: absolute;
   top: 4px;
   left: 0%;
   padding: 10px;
   pointer-events: none;
   font-size: 12px;
   transition: 300ms;
   /* color: red; */
}

.inputbox input:focus ~ label {
   top: -12px;
   font-size: 14px;
   color: #007bff;
   opacity: 70%;
 }

/* .email input::placeholder {
   font-weight: 600;
   letter-spacing: 0px;
   color: #000000BF;
} */

.inputbox input:focus {
   border-bottom: 2px solid #386CB5;
}


.name1 {
    display: flex;
    width: 195px;
    height: 47px;
    border: 1px solid #DDDDDD;
    outline: none;
    text-align: left;
    margin-bottom: 10px;
    justify-content: center;
    /* border: 3px solid red; */
    margin-right: 24px;
    border-radius: 6px;
    

}
.name1 .inputbox input {
    /* margin-left: 6px; */
    width: 185px;
    background: #f7faff;
    /* outline: none; */
    /* border: 1px solid red; */
    height: 47px;
    /* width: 300px; */
    /* border: none; */
    border-radius: 6px;

}

@media (max-width: 1000px) {
    .main {
        /* border: 1px solid red; */
        /* display: flex; */
        flex-direction: column;
    }
}




.inputbox input:not(focus):valid ~ label{
    top: -13px;
    font-size: 12px;
    color: #007bff;
    opacity: 70%;
}

